@import url("style.css");

#membership-form{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Orbitron-variable", Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    background-color: rgb(156, 112, 28);
    padding: 20px;
}


#form-parent{
    display: flex;
    justify-content: center;
}