@import url("style.css");

#membership-form{
  scale: 1;
display: flex;
div{
 display: flex;
 justify-content: space-between;
 input, textarea{
  border: 1px solid brown;
  border-radius: 15px;
  border-bottom-right-radius: 0px;
 }
}
    font-family: "Orbitron-variable", Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    background-color: rgb(156, 112, 28);
    padding: 20px;
    border-radius: 15px;

}

#form-body{
  /* 1. Tell CSS where your image file is located */
  background-image: url("images/synexus-bg.jpg");
  top: 0;
  left: 0;
  width: 100vw;  /* Force full viewport width */
  height: 100vh; /* Force full viewport height */
  z-index: -1;   /* Send it completely behind all content */
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  background-attachment: fixed;
}
#form-parent{
  h1,p{-webkit-text-stroke: 1px;-webkit-text-stroke-color: black;color:white;font-family: "ArchivoBlack", Arial, Helvetica, sans-serif;}
  padding: 100px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  
}

#membership-form textarea{
  resize: vertical;
  max-height: 100px;
}
#form-buttons-grid{
  display: flex;
  justify-content: center;
  padding: 20px;
  gap: 40px ;
}
@media (width: 600px){
  #membership-form{
    scale: 1.3;
  }
}